.projects-section {
    background-color: #674825;

    .wrapper {
        overflow: visible !important;
        position: relative;
        padding-top: 70px;

        .title {
            padding: 1rem 0;
            overflow: visible !important;
            text-align: center;
            white-space: nowrap;
            font-size: 22vw;
            z-index: 400;
            position: relative;
        }

        .mini-grid-desktop {
            display: none;
        }
    }

    .projects {
        position: relative;
        z-index: 4;
        background-color: #674825;

        .mob-project {
            padding: 1rem 14px;
            border-top: 1px solid $secondaryColor;

            .title {
                font-size: 1.3rem;
                font-weight: 400;
                position: relative;
                margin-bottom: 10px;
                // text-transform: uppercase;
                @include flex(center, space-between, row);

                span {
                    transform: rotate(180deg);
                    transition: 0.2s ease-in-out all;

                    &.active {
                        transform: rotate(360deg);
                    }
                }

                .span-date{
                    transform: rotate(0);
                    opacity: .7;
                    font-size: .8rem;
                }
            }

            .info {
                transition: 0.5s all linear;
                opacity: 0;
                height: 0;
                
                overflow: visible !important;

                .row {
                    @include flex(center, space-between, row);
                }

                h4 {
                    font-weight: 500;
                    max-width: 85%;
                }

                p {
                    font-size: .7rem;
                    font-weight: 500;
                    opacity: .8;
                }

                &.active {
                    opacity: 1;
                    height: 400px;
                    padding-bottom:0;
                }
            }
        }

        .desktop-project {
            display: none;
        }

        .mob-project{
            .slides {
                height: 300px;
                position: relative;
                overflow: visible;
                margin-top: 60px;
                background: $primaryColor;
                padding-bottom: 40px;
                border-top: 50px solid $primaryColor;
                border-bottom: 30px solid $primaryColor;
                border-left: 60px solid $primaryColor;
                border-right: 60px solid $primaryColor;
                img {
                    position: absolute;
                    height: auto;
                    top: 0;
                    left: 0;
                    filter: grayscale(60%);
                    transform: rotate(0deg) scale(1);
                    right: 0;
                    opacity: 0;
                    transition: 0.4s ease-in-out opacity;

                    &.active {
                        opacity: 1;
                    }
                }

                .pagination {
                    position: absolute;
                    right: 20px;
                    bottom: 50px;
                    z-index: 1200 !important;
                    height: 40px;
                    @include flex(center, space-between, row);

                    span {
                        border: 1px solid white;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        cursor: pointer;
                        margin: 0 5px;

                        &.active {
                            background: white;
                        }
                    }
                }
            }
        }
        .desktop-project {
            .slides {
                height: 400px;
                position: relative;
                margin-top: 60px;
                border-top-left-radius: 30px;
                background: $primaryColor;
                padding-bottom: 40px;
                border-top: 50px solid $primaryColor;
                border-bottom: 50px solid $primaryColor;
                border-left: 60px solid $primaryColor;
                border-right: 60px solid $primaryColor;
                overflow: visible;
                img {
                    position: absolute;
                    height: auto;
                    top: 0;
                    left: 0;
                    filter: grayscale(60%);
                    transform: rotate(0deg) scale(1);
                    right: 0;
                    opacity: 0;
                    transition: 0.4s ease-in-out opacity;

                    &.active {
                        opacity: 1;
                    }
                }

                .pagination {
                    position: absolute;
                    right: 20px;
                    bottom: -40px;
                    z-index: 1200 !important;
                    height: 40px;
                    @include flex(center, space-between, row);

                    span {
                        border: 1px solid white;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        cursor: pointer;
                        margin: 0 5px;

                        &.active {
                            background: white;
                        }
                    }
                }
            }
        }
    }
}


@include for-phones {
    .projects-section {
        .projects {
            .mob-project {
                padding: 1rem 17px;
            }
        }
    }
}

@include for-tablet-potrait-up {}

@include for-tablet-landscape-up {}

@include for-desktop-up {
    .projects-section {
        .wrapper {
            @include verticalLines;

            .title {
                font-size: 22vw;
            }

            .mini-grid-desktop {
                @include grid(3, 650px 350px 300px, 40px);

                h3 {
                    padding: 1rem;
                }
            }
        }

        .projects {
            .mob-project {
                display: none;
            }

            .desktop-project {
                border-top: 2px solid $primaryColor;
                display: block;

                .brief {
                    @include grid(3, 600px 420px 150px, 40px);
                    font-size: 30px;
                    transition: linear all 0.2s;
                    cursor: pointer;

                    

                    .proj-date {
                        @include flex(flex-start, space-between, row);
                        padding-left: 30px;
                        font-size: 1.5rem !important;
                        font-weight: 400;
                        font-style: italic;
                        span {
                            transform: rotate(180deg);
                            font-size: 2rem;
                            transition: 0.2s ease-in-out all;

                            &.active {
                                transform: rotate(360deg);
                            }
                        }
                    }
                    .proj-name {
                        font-size: 2rem !important;
                        font-weight: 500;
                        margin-left: 15px;
                        span{
                            font-size: 1rem;
                            opacity: .8;
                        }
                    }
                    .proj-desc {
                        font-size: 1.1rem !important;
                        font-weight: 400;
                        opacity: 0;
                        display: flex;
                        width: fit-content;
                        color: $secondaryColor;
                        // font-style: italic;
                        // border-radius: 40px;
                        opacity: 0;
                        // text-decoration: underline;
                        align-items: flex-end;
                    }

                }

                .details {
                    margin: 0 20px;
                    margin-top: 20px;
                    height: 0;
                    overflow: hidden;
                    opacity: 0;
                    transition: ease-out all .5s !important;
                    @include grid(2, 650px, 40px);

                    .slides {
                        height: 400px;
                    }

                    .more-info {
                        font-size: 1rem !important;
                        font-weight: 400;
                        padding-right: 5rem;
                        opacity: .8;
                    }

                    &.active {
                       
                        height: 500px;
                        transition: 2s;
                        opacity: 1;
                    }
                }

                
            }
        }
    }
}

@include for-big-desktop-up {}


.view-details{
    border: 1px solid $secondaryColor;
    margin-top: 30px;
    display: block;
    padding: 3px 30px;
    width: fit-content;
    border-radius: 30px;
}

.view-details-desktop:hover{
    background-color: $primaryColor;
}

.desktop-down{
    // opacity: 0 !important;
    transition: 2s;
}

.project-aside{
    margin-right:60px;
    h2{
        font-size: 2rem !important;
        margin-bottom: 30px;
        margin-top: 5rem;
    }
    h3{
        font-size: .9rem !important;
        padding-right:.8rem ;
    }
}


.view-details-desktop{
    border: 1px solid $secondaryColor;
    width: fit-content;
    margin-top: 30px;
    display: block;
    padding: 3px 30px;
    border-radius: 30px;
}