.projects-section {
    background-color: #674825;

    .wrapper {
        overflow: visible !important;
        position: relative;
        padding-top: 70px;

        .title {
            padding: 1rem 0;
            overflow: visible !important;
            text-align: center;
            white-space: nowrap;
            font-size: 22vw;
            z-index: 400;
            position: relative;
        }

        .mini-grid-desktop {
            display: none;
        }
    }

    .projects {
        position: relative;
        z-index: 4;
        background-color: #674825;

        .mob-project {
            padding: 1rem 14px;
            border-top: 1px solid #EEE9CC;

            .title {
                font-size: 1.3rem;
                font-weight: 400;
                position: relative;
                margin-bottom: 10px;
                text-transform: uppercase;
                @include flex(center, space-between, row);

                span {
                    transform: rotate(180deg);
                    transition: 0.2s ease-in-out all;

                    &.active {
                        transform: rotate(360deg);
                    }
                }
            }

            .info {
                transition: 0.5s all linear;
                opacity: 0;
                height: 0;
                
                overflow: visible !important;

                .row {
                    @include flex(center, space-between, row);
                }

                h4 {
                    font-weight: 500;
                }

                p {
                    font-size: .7rem;
                    font-weight: 500;
                    opacity: .8;
                }

                &.active {
                    opacity: 1;
                    height: 400px;
                    padding-bottom:0;
                }
            }
        }

        .desktop-project {
            display: none;
        }

        .mob-project,
        .desktop-project {
            .slides {
                height: 300px;
                position: relative;
                margin-top: 60px;
                background: $primaryColor;
                padding-bottom: 40px;
                border-top: 20px solid $primaryColor;
                border-bottom: 50px solid $primaryColor;
                border-left: 50px solid $primaryColor;
                border-right: 50px solid $primaryColor;
                
                img {
                    position: absolute;
                    height: auto;
                    top: 0;
                    left: 0;
                    filter: grayscale(60%);
                    transform: rotate(0deg) scale(1);
                    right: 0;
                    opacity: 0;
                    transition: 0.4s ease-in-out opacity;

                    &.active {
                        opacity: 1;
                    }
                }

                .pagination {
                    position: absolute;
                    right: 20px;
                    bottom: 40px;
                    
                    height: 40px;
                    @include flex(center, space-between, row);

                    span {
                        border: 1px solid #777;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        cursor: pointer;
                        margin: 0 5px;

                        &.active {
                            background: #555;
                        }
                    }
                }
            }
        }
    }
}


@include for-phones {
    .projects-section {
        .projects {
            .mob-project {
                padding: 1rem 17px;
            }
        }
    }
}

@include for-tablet-potrait-up {}

@include for-tablet-landscape-up {}

@include for-desktop-up {
    .projects-section {
        .wrapper {
            @include verticalLines;

            .title {
                font-size: 22vw;
            }

            .mini-grid-desktop {
                @include grid(3, 650px 350px 300px, 40px);

                h3 {
                    padding: 1rem;
                }
            }
        }

        .projects {
            .mob-project {
                display: none;
            }

            .desktop-project {
                border-top: 2px solid $secondaryColor;
                display: block;

                .brief {
                    @include grid(3, 650px 320px 250px, 40px);
                    padding: 1rem;
                    font-size: 30px;
                    transition: linear all 0.2s;
                    cursor: pointer;

                    &:hover {
                        // text-decoration: underline;
                        transform: scale(0.98);
                        transition: .5s;
                        // background: $secondaryColor;
                        // color: $primaryColor;
                    }

                    .proj-date {
                        @include flex(flex-start, space-between, row);
                        padding-left: 30px;
                        font-size: 1.5rem !important;
                        font-weight: 400;
                        font-style: italic;
                        span {
                            transform: rotate(180deg);
                            font-size: 2rem;
                            transition: 0.2s ease-in-out all;

                            &.active {
                                transform: rotate(360deg);
                            }
                        }
                    }
                    .proj-name {
                        font-size: 2rem !important;
                        font-weight: 500;
                    }
                    .proj-desc {
                        font-size: 1rem !important;
                        font-weight: 400;
                    }

                }

                .details {
                    display: none;
                    margin-top: 20px;
                    padding: 1rem;
                    height: 0;
                    overflow: hidden;
                    opacity: 0;
                    transition: linear all 0.5s;

                    .slides {
                        height: 340px;
                    }

                    .more-info {
                        font-size: 1rem;
                        font-weight: 400;
                    }

                    &.active {
                        @include grid(2, 650px 320px, 40px);
                        height: 400px;
                        opacity: 1;
                    }
                }

                &:last-child {
                    &:hover {
                        border-bottom: 2px solid $primaryColor;
                    }
                }
            }
        }
    }
}

@include for-big-desktop-up {}


.view-details{
    border: 1px solid $secondaryColor;
    // padding: 10px 40px;
    width: fit-content;
    border-radius: 30px;
}
// .slide-cont{
//     border: 2px solid red;
//     opacity: .5;
//     height: 500px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
