.info-section {
    padding: 3rem 14px;
    border-top:2px solid $secondaryColor;
    overflow: hidden;
    display: flex;
    background-color: $primaryColor;
    h1 {
      overflow: hidden;
        font-size: 7vw;
        font-weight: 400;
        line-height: 1.2;
        width: 100vw;
        z-index: 5;
    }
    .info2{
        position: relative;
        width: 50vw;
        h1{
            position: relative;
            right:50vw;
            top:0px;
            height: 100%;
            width: 100vw;
        }
    }
    .info1{
        position: relative;
        width: 50vw;
    }
}

@include for-phones {}

@include for-tablet-potrait-up {}

@include for-tablet-landscape-up {}

@include for-desktop-up {
    .info-section {
        padding: 10rem 17px;
        @include verticalLines;
    }
}

@include for-big-desktop-up {}


.experience-cont{
    background: $primaryColor;
    position: relative;
    z-index: 222;
    
    h3{
        padding: 20px;
        font-weight: 400;
        border-bottom:1px solid $secondaryColor;
        border-top:1px solid $secondaryColor;
        font-size: 2rem;
    }
    .experiences{
        height: 50px;
        border-bottom: 1px solid $secondaryColor;
        margin-bottom: 100px;
        .work-cont{
            position: relative;
            padding: 0px 20px;
            display: flex;
            flex-direction: column;
            transform: translateY(-45px);
            overflow: visible;
            transition: 1s ease-in-out; 
            p{
                transform: translateY(45px);
                padding: 10px 0;
                overflow: visible;
                font-size: 16px;
            }

        }
    }
}

.inactive-project{
    // text-decoration: underline;
    opacity: 0.7;
}