.header-section {
    position: relative;
    z-index: 4;
    height: 100vh;
    background:$primaryColor;
    flex-direction: column;
    display: flex;
    gap: 2;
    //to rotate maybe in mobile
    // transform: rotateZ(90deg);
    // transform-origin: 32% 40%;
    // height: 100vw;
    // width: 100vh;
    
    .bg {
        display: none;
    }

    .row {
        height: 25%;
        // border-top: 2px solid $secondaryColor;
        position: relative;
        width: 100vw;
        //To rotate in mobile
        // width: 100vh;
        overflow: hidden;

        .img-1{
         position: absolute;
            height: 100vh;
            top:-5%;
        }
        .img-2{
            height: 100vh;
            position: absolute;
            top: -105%;
        }
        .img-3{
            height: 100vh;
            position: absolute;
            top: -225%;
        }
        .img-4{
            height: 100vh;
            position: absolute;
            top: -325%;
            
        }
        .blind-0,.blind-1,.blind-2,.blind-3{
            height: 100%;
            // border: 2px solid red;
            width: 100%;
            position: absolute;
            background-color: $primaryColor;
            z-index: 99;
        }
        h2 {
            font-size: 40vw;
            font-weight: 400 ;
            position: relative;
            z-index: 99;
            // display: none;
        }

        p {
            font-size: 1rem;
            position: relative;
            z-index: 99;
            font-weight: 400;
        }
    }
    .col-end{
        position: relative;
    h2{
        position: absolute;
        right: 0;
        top: 10px;
    }
    }

}

@include for-phones {}



@include for-tablet-landscape-up {
    h2{
        font-size: 9vw !important;
    }
    .header-img.active{
        transform: scale(1.2);
        width: 50% !important;
    }
    
    .header-img.inactive {
        width: 50% !important; 
        transform: scale(1.1);
    }
    
}

@include for-desktop-up {
    .header-section {
        overflow: hidden;
        // transform: rotate(90deg);
        // z-index: 0;
        // display: none;


        .bg {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            animation: scaleAnimation 4s ease-in-out infinite;
            @keyframes scaleAnimation {
                0% {
                    transform: scale(1)
                }

                50% {
                    transform: scale(1.2)
                }

                100% {
                    transform: scale(1)
                }

            }
        }

        .row {
            padding: 0.5rem 17px;
            height: 170px;
            border-bottom: 1px solid $secondaryColor;
            position: relative;
            overflow: hidden;
            width: 100%;
            display: none;
            

            h2 {
                // display: none;
                font-size: 5rem !important;
            }

            p {
                display: block;
                font-size: 1.875rem;
                line-height: 1;
                font-weight: 400;
            }
        }
    }
}

// @include for-big-desktop-up {}
.header-section {
    position: relative;
    overflow: hidden;
  }
  
  .header-section .row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    overflow: hidden;
  }
  
  .header-section img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 2s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  
  .blind-0 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    transform: translateY(0%);
    transition: transform .7s ease-out;
    z-index: 1;
}

.blind-0.active {
    transform: translateY(100%);
}
  
  .blind-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    transform: translateY(0%);
    transition: transform 1s ease-out;
    z-index: 1;
}

.blind-1.active {
    transform: translateY(100%);
}
  
.blind-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    transform: translateY(0%);
    transition: transform .8s ease-in-out;
    // transition-delay: .3s;
    z-index: 1;
}

.blind-2.active {
    transform: translateY(100%);
}
  
.blind-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    transform: translateY(0%);
    // transition-delay: .5s;
    transition: transform 1s ease-in-out;
    z-index: 1;
}

.blind-3.active {
    transform: translateY(100%);
}

.hero-text-large, .hero-text-small {
    mix-blend-mode: difference;
}

// .hero-text-small {
//     opacity: 0;
//     font-size: 2rem;
//     transform: translateX(10%) scale(1) rotate(0deg);
//     transition: 1.5s ease-out;
// }
// .hero-text-small.active {
//     transform: translateY(0%) scale(1.0) rotate(0);
//     opacity: 1;
//     // transition: 2s ease-out;
// }
// .hero-text-large {
//     opacity: 0;
//     font-size: 6rem !important;
//     font-weight: 800 !important;
//     transform: translateY(10%) scale(1) rotate(-2deg);
//     transition: 1.5s ease-in;
// }
// .hero-text-large.active {
//     transform: translateX(0%) scale(1.0) rotate(0);
//     opacity: 1;
//     // transition: 2s ease-out;
// }

/* Small Text Animation */
@keyframes heroTextSmallIn {
    0% {
      transform: translateX(10%) scale(1) rotate(0deg);
      opacity: 0;
    }
    30% {
      transform: translateX(10%) scale(1) rotate(0deg);
      opacity: 0;
    }
    70% {
      transform: translateX(10%) scale(1) rotate(0deg);
      opacity: 0;
    }
    100% {
      transform: translateY(0%) scale(1.0) rotate(0);
      opacity: 1;
    }
  }
  
  @keyframes heroTextSmallOut {
    0% {
      transform: translateY(0%) scale(1.0) rotate(0);
      opacity: 1;
    }
    30% {
      transform: translateX(10%) scale(1) rotate(0deg);
      opacity: 0;
    }
    100% {
      transform: translateX(10%) scale(1) rotate(0deg);
      opacity: 0;
    }
  }
  
  .hero-text-small {
    font-size: 2rem;
    animation: heroTextSmallOut 2s ease-out forwards; /* Start with the 'out' animation */
  }
  
  .hero-text-small.active {
    animation: heroTextSmallIn 2s ease-out forwards; /* Trigger 'in' animation on active */
  }
  
  /* Large Text Animation */
  @keyframes heroTextLargeIn {
    0% {
      transform: translateY(10%) scale(1) rotate(-2deg);
      opacity: 0;
    }
    
    30% {
      transform: translateY(10%) scale(1) rotate(-2deg);
      opacity: 0;
    }
    70% {
      transform: translateY(10%) scale(1) rotate(-2deg);
      opacity: 0;
    }

    100% {
      transform: translateX(0%) scale(1.0) rotate(0);
      opacity: 1;
    }
  }
  
  @keyframes heroTextLargeOut {
    0% {
      transform: translateX(0%) scale(1.0) rotate(0);
      opacity: 1;
    }
    100% {
      transform: translateY(10%) scale(1) rotate(-2deg);
      opacity: 0;
    }
  }
  
  .hero-text-large {
    font-size: 6rem !important;
    font-weight: 800 !important;
    animation: heroTextLargeOut .3s ease-in forwards; /* Start with the 'out' animation */
}

.hero-text-large.active {
    animation: heroTextLargeIn 2s ease-out forwards; /* Trigger 'in' animation on active */
  }
  



img.active{
    transform: scale(1.2);
}

img.inactive {
    transform: scale(1.4);
}

.img-1{
    transition-duration: .5s !important;
    transition-timing-function: ease-out !important;
}
.img-2{
    transition-duration: 1.2s !important;
    transition-timing-function: ease-out !important;
}
.img-3{
    transition-timing-function: ease-out !important;
    transition-duration: 1.5s !important;
}
.img-4{
    transition-timing-function: ease-out !important;
    transition-duration: 1s !important;
}


.alternate-text{
    display: flex;
    // transform: rotate(30deg);
    gap: 10px;
    overflow: visible;
    flex-wrap: wrap;
    padding: 20px;
    line-height: -3rem;
}
.alternate-text>p{
    font-size: 20rem  !important;
    font-weight: 700;

    padding-top: 2rem;
    overflow: visible !important;;
    opacity: 0.009;
    transform: rotate(0deg);
    animation: rotate 60s linear infinite;
    // text-decoration: underline;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    //   opacity: 0;
    }
    to {
    transform: rotate(360deg);
    // opacity: 1;
    }
  }
  

.preloader{
    position: fixed;
    padding-left: 6vw;
    width: 100vw;
    height: 100vh;
    background: $secondaryColor;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        color: $primaryColor;
        display: flex;
        div{
        position: relative;
        width: 30px;
        overflow: visible;
        }
        .preloader-p1,
        .preloader-p2,
        .preloader-p3,
        .preloader-p4
        {
            min-width: fit-content;
            background: $secondaryColor;
        }        
        .preloader-cover1{
            position: absolute;
            background: #000;
            background: $secondaryColor;
            width: 20px;
            height: 20px;
            top: 0;
            left:0;
            z-index: 1;
            
        }        
        .preloader-cover2{
            position: absolute;
            z-index: 1;
            background: $secondaryColor;
            width: 20px;
            height: 20px;
            top: 0;
            left:20px;
            
        }        
        .preloader-cover3{
            position: absolute;
            z-index: 1;
            background: $secondaryColor;
            width: 20px;
            height: 20px;
            top: 0;
            right:50px;
            
        }        
        .preloader-cover4{
            z-index: 1;
            
            position: absolute;
            background: $secondaryColor;
            width: 20px;
            height: 30px;
            top: 0;
            left:10;
        }        
    }
}