.header-section {
    position: relative;
    z-index: 4;
    height: 100vh;
    background:$primaryColor;
    flex-direction: column;
    display: flex;
    gap: 2;
    //to rotate maybe in mobile
    // transform: rotateZ(90deg);
    // transform-origin: 32% 40%;
    // height: 100vw;
    // width: 100vh;
    
    .bg {
        display: none;
    }

    .row {
        height: 25%;
        border-top: 2px solid $secondaryColor;
        position: relative;
        width: 100vw;
        //To rotate in mobile
        // width: 100vh;
        overflow: hidden;

        .img-1{
         position: absolute;
            height: 100vh;
        }
        .img-2{
            height: 100vh;
            position: absolute;
            top: -105%;
        }
        .img-3{
            height: 100vh;
            position: absolute;
            top: -225%;
        }
        .img-4{
            height: 100vh;
            position: absolute;
            top: -325%;
            
        }
        .blind{
            height: 100%;
            // border: 2px solid red;
            width: 100%;
            position: absolute;
            background-color: $primaryColor;
            z-index: 99;
        }
        h2 {
            font-size: 40vw;
            font-weight: 400 ;
            position: relative;
            z-index: 99;
            // display: none;
        }

        p {
            font-size: 1rem;
            position: relative;
            z-index: 99;
            font-weight: 400;
        }
    }
    .col-end{
        position: relative;
    h2{
        position: absolute;
        right: 0;
        top: 10px;
    }
    }

}

@include for-phones {}



@include for-tablet-landscape-up {
    h2{
        font-size: 9vw !important;
    }
}

@include for-desktop-up {
    .header-section {
        overflow: hidden;
        display: none;


        .bg {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            animation: scaleAnimation 4s ease-in-out infinite;
            @keyframes scaleAnimation {
                0% {
                    transform: scale(1)
                }

                50% {
                    transform: scale(1.2)
                }

                100% {
                    transform: scale(1)
                }

            }
        }

        .row {
            padding: 0.5rem 17px;
            height: 170px;
            border-bottom: 1px solid $secondaryColor;
            position: relative;
            overflow: hidden;
            width: 100%;
            display: none;
            

            h2 {
                display: none;
                font-size: 2vw !important;
            }

            p {
                display: block;
                font-size: 1.875rem;
                line-height: 1;
                font-weight: 400;
            }
        }
    }
}

// @include for-big-desktop-up {}
.header-section {
    position: relative;
    overflow: hidden;
  }
  
  .header-section .row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    overflow: hidden;
  }
  
  .header-section img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 2s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  
  .blind {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    transform: translateY(0%);
    transition: transform 2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    z-index: 1;
}

.blind.active {
    transform: translateY(100%);
}

.hero-text-large, .hero-text-small {
    mix-blend-mode: difference;
}

.hero-text-small {
    opacity: 0;
    font-size: 2rem;
    transform: translateX(10%) scale(1) rotate(0deg);
    transition: 1.5s ease-out;
}
.hero-text-small.active {
    transform: translateY(0%) scale(1.0) rotate(0);
    opacity: 1;
    // transition: 2s ease-out;
}
.hero-text-large {
    opacity: 0;
    font-size: 6rem !important;
    font-weight: 600;
    transform: translateY(10%) scale(1) rotate(-2deg);
    transition: 1.5s ease-in;
}
.hero-text-large.active {
    transform: translateX(0%) scale(1.0) rotate(0);
    opacity: 1;
    // transition: 2s ease-out;
}
  
  img.active{
    transform: scale(1.2);
    opacity: 1;
}
  
  img.inactive {
    opacity: 0;
    transform: scale(2);
}

.alternate-text{
    display: flex;
    // transform: rotate(30deg);
    gap: 10px;
    overflow: visible;
    flex-wrap: wrap;
    padding: 20px;
}
.alternate-text>p{
    font-size: 12rem  !important;
    font-weight: 700;

    padding-top: 2rem;
    overflow: visible !important;;
    opacity: 0.03;
    transform: rotate(0deg);
    animation: rotate 12s ease-in-out infinite alternate;
    // text-decoration: underline;
}
@keyframes rotate {
    from {
      transform: rotate(-70deg);
    //   opacity: 0;
    }
    to {
    transform: rotate(70deg);
    // opacity: 1;
    }
  }
  

