nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: #1E1915;
    color: #EEE9CC;
    transition: background-color .3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateY(-100%);
    transition: all linear 0.3s;

    .container {
        @include flex(center, space-between, row);
        border-bottom: 1px solid $secondaryColor;

        .logo {
            width: 50%;
            font-size: 1.2rem;
            line-height: 1;
            font-weight: 500;
            padding: 1.25rem;
            cursor: url('https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cG90cmFpdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60');
        }

        .hambuger {
            position: relative;
            margin-right: 1.25rem;
            overflow:visible !important;   
        }

        .desktop-links {
            display: none;
        }
    }

    .mob-nav-links {
        background-color: $secondaryColor;
        height: 0;
        transition: height 1s cubic-bezier(0.215, 0.61, 0.355, 1);
        position: relative;
        @include flex (flex-start, center, column);


        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
            margin: 0 auto;
            width: 1px;
            height: 100%;
            background-color: $primaryColor;
            transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
            transform: scale3d(1, 0, 1);
            transform-origin: center bottom;
            z-index: -1;
        }

        ul {
            background: $secondaryColor;
            width: 100%;
            opacity: 0;
            transition:  1s cubic-bezier(0.645, 0.045, 0.355, 1);
            font-size: 1.875rem;

            &:first-child {
                margin-bottom: 150px;
            }

            li {
                border-bottom: 1px solid $primaryColor;
                padding: 0.625rem 1.25rem;

                &:first-child {
                    border-top: 1px solid $primaryColor;
                }
                a{
                    font-weight: 400;
                    overflow: visible;
                    display: block;
                    // text-transform: uppercase;
                }
            }

            &.socials {
                font-size: .9375rem;
            }

        }
    }


    &.show-nav {
        background-color: $secondaryColor;
        color: $primaryColor;

        .container {
            border-bottom: 1px solid $primaryColor;

            .hambuger {
                span {
                    & {
                        background-color: transparent;

                        &::before {
                            transform: translate3d(0, 0, 0) rotate(45deg);
                            background-color: $primaryColor;
                        }

                        &::after {
                            transform: translate3d(0, 0, 0) rotate(-45deg);
                            background-color: $primaryColor;
                        }
                    }
                }
            }

        }

        .mob-nav-links {
            height: calc(100vh - 70px);
            z-index: 400;

            &::before {
                transform-origin: center top;
                transform: scale3d(1, 1, 1);
            }

            ul {
                opacity: 1;
                transition: 1s;
            }
        }

    }

    &.fix-nav {
        transform: translateY(0);
    }
}


@include for-phones {}

@include for-tablet-potrait-up {}

@include for-tablet-landscape-up {}

@include for-desktop-up {
    nav {
        .container {
            padding: 5px 0;
            
            .desktop-links {
                padding-right: 20px;
                display: block;


                ul {
                    @include flex(center, space-around, row);
                    gap: 200px;
                    li {
                        margin:  50px;
                        &:first-child {
                            margin-left: 0;
                        }

                        &:last-child {
                            margin-left: 130px;
                        }
                    }
                }
            }

            .hambuger {
                display: none;
            }
        }

        .mob-nav-links {
            display: none;
        }
    }
}

@include for-big-desktop-up {}





/* Define the animation */
@keyframes slideDown {
    from {
      transform: translateY(-70px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-70px);
      opacity: 0;
    }
  }
  
  @keyframes growUp {
    from {
        transform: translateY(70px) rotate(6deg);
        opacity: 0;
        
    }
    to {
        transform: translateY(0px) rotate(0deg);
        opacity: 1;
    }
  }
  
  /* Apply the animation to the navbar text */
  .nav-text {
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    opacity: 0; /* Initial state is hidden */
  }
  .nav-text1 {
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
    opacity: 0; /* Initial state is hidden */
  }
  .nav-text2 {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    transition: ease-out;
    opacity: 0; /* Initial state is hidden */
  }
  
  /* Show the text when the navbar is open */
  .show-nav .nav-text {
    animation-name: slideDown;
    opacity: 1;
    // animation-delay: .5s;
}
  .show-nav .nav-text1 {
    animation-name: slideDown;
    opacity: 1;
    // animation-delay: .5s;
}
  .show-nav .nav-text2 {
    animation-name: slideDown;
    opacity: 1;
    // animation-delay: .5s;
}

.nav-text,.nav-text1,.nav-text2{
    animation-name:growUp !important;
    animation-timing-function:ease-in-out;
}


/* Hide the text when the navbar is closing */
.hide-nav .nav-text {
    animation-name: slideUp;
    opacity: 0;
    animation-delay: 2s;
  }
  

 

:root {
	--bar-bg: #212529;
}

.menu-icon {
	position: relative;
	width: 50px;
	height: 50px;
	cursor: pointer;

	.menu-icon__cheeckbox {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		cursor: pointer;
		z-index: 2;
		-webkit-touch-callout: none;
		position: absolute;
		opacity: 0;
	}
	div {
		margin: auto;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		width: 22px;
		height: 12px;
	}
	span {
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		background-color: var(--bar-bg, #000);
		border-radius: 1px;
		transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

		&:first-of-type {
			top: 0;
		}
		&:last-of-type {
			bottom: 0;
		}
	}
	&.active,
	.menu-icon__cheeckbox:checked + div {
		span {
			&:first-of-type {
				transform: rotate(45deg);
				top: 5px;
			}
			&:last-of-type {
				transform: rotate(-45deg);
				bottom: 5px;
			}
		}
	}

	&.active:hover span:first-of-type,
	&.active:hover span:last-of-type,
	&:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
	&:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
		width: 22px;
	}

	&:hover {
		// no need hover effect on mobile.
		@media (min-width: 1024px) {
			span:first-of-type {
				width: 26px;
			}

			span:last-of-type {
				width: 12px;
			}
		}
	}
}
